main {
  margin-top: 15%;
  width: 100%;
  background-color: #C4C4C4
}

form {
  border: 3px solid #f1f1f1;
  width: 40%;
  height: 45%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.notemail {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid red;
  box-sizing: border-box;
}

button {
  background-color: #373867;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.emailok {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (min-width: 1024px) {
  main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 15%;
      width: 80%;
      margin-left: 20%;
  }
}

