<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="../javascript/sign-up.js"></script>
        <title>trackgenix</title>
    </head>

    <body>
        <header>
            <div class="header-style">
                <div id="burguer">
                    <span>&#9776;</span>
                </div>
                <div id="tittle-header">TRACKGENIX</div>
                <div id="social">
                    <img src="../assets/twitter.png" alt="twitter logo">
                    <img src="../assets/facebook.png" alt="facebook logo">
                    <img src="../assets/instagram.png" alt="intagram logo">
                    <img src="../assets/linkedin.png" alt="linkedin logo">
                </div>
            </div>
        </header>
        <aside>
            <input id="searchbar-side" type="search" placeholder="search">
            <p id="menu-side">
                MENU
            </p>
            <div class="side-options">
                <a id="side-options" href="http://">home</a>
                <a id="side-options" href="http://">sign up</a>
                <a id="side-options" href="http://">log in</a>
                <a id="side-options" href="http://">contact info</a>
            </div>
            <p id="side-get">
                GET IN TOUCH
            </p>
            <p id="side-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <div class="side-contact">
                <div class="contact">
                    <img src="../assets/icon-letter.png" alt="email logo"><a
                        href=»trackgenix@gigatech.com»>trackgenix@gigatech.com</a>
                </div>
                <div class="contact">
                    <img src="../assets/icon-phone.png" alt="phone logo"><a href="tel:+59899123456">+598 99123456</a>
                </div>
                <div class="contact">
                    <img src="../assets/icon-addres.png" alt="addres logo">Av. Montevideo 1234, 11200
                </div>
            </div>
        </aside>
        <main>
            <form>
                <div class="form">
                    <label><b>Nombre</b></label>
                    <input id="nombre" type="text" placeholder="Enter Name" required>
                    <span id="error"></span>
                </div>
                <div class="form">
                    <label><b>Apellido</b></label>
                    <input id="apellido" type="text" placeholder="Enter Apellido" required>
                    <span id="error1"></span>
                </div>
                <div class="form">
                    <label><b>DNI</b></label>
                    <input id="dni" type="text" placeholder="Enter DNI" required>
                    <span id="error2"></span>
                </div>
                <div class="form">
                    <label><b>Fecha de Nacimiento</b></label>
                    <input id="fecha" type="text" placeholder="Fecha de Nacimiento" required>
                    <span id="error3"></span>
                </div>
                <div class="form">
                    <label><b>Teléfono</b></label>
                    <input id="telefono" type="text" placeholder="Telefono" required>
                    <span id="error4"></span>
                </div>
                <div class="form">
                    <label><b>Dirección</b></label>
                    <input id="direccion" type="text" placeholder="Enter Direccion" required>
                    <span id="error5"></span>
                </div>
                <div class="form">
                    <label><b>Localidad</b></label>
                    <input id="localidad" type="text" placeholder="Localidad" required>
                    <span id="error6"></span>
                </div>
                <div class="form">
                    <label><b>Código Postal</b></label>
                    <input id="cp" type="text" placeholder="Codigo Postal" required>
                    <span id="error7"></span>
                </div>
                <div class="form">
                    <label><b>Email</b></label>
                    <input id="email" type="text" placeholder="Enter Email" required>
                    <span id="error8"></span>
                </div>
                <div class="form">
                    <label><b>Contraseña</b></label>
                    <input id="contraseña" type="text" placeholder="Contraseña" required>
                    <span id="error9"></span>
                </div>
                <div class="form">
                    <label><b>Repetir Contraseña</b></label>
                    <input id="rc" type="text" placeholder="Repetir Contraseña" required>
                    <span id="error0"></span>
                </div>
                <button id="submit" type="submit">Create</button>
              </form>
        </main>
        <footer>
            <p>
                © 2022, trackgenix
            </p>
            <div>
                <img src="../assets/twitter-logo.png" alt="twitter">
                <img src="../assets/instagram-logo.png" alt="instagram">
                <img src="../assets/facebook-logo.png" alt="facebook">
                <img src="../assets/linkedin-logo.png" alt="linkedin">
                <img src="../assets/github.png" alt="github">
            </div>
        </footer>
    </body>

</html>