footer {
    background-color: #C4C4C4;
    padding-top: 20%;
    padding-bottom: 5%;
}
@media  (min-width: 1024px) {
    footer {
        background-color: #C4C4C4;
        padding-top: 20%;
        padding-bottom: 5%;
        width: 80%;
        margin-left: 20%;
    }
}