main {
    margin-top: 115px;
    width: 100%;
}

h1 {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
    text-align: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    margin-bottom: 20%;
}

#landing-img {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 98%;
    border-radius: 14px;
    margin: 1%;
    color: rgba(0, 0, 0, 0.7);
}

.landing,
p {
    margin: 3%;
    text-align: justify;
}
.funcional {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DDDDE5;
    margin: 1%;
    padding: 5%;
}
.funcional h2 {
    display: none;
}

.functionalities-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.functionalities-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.funcional-logo {
    width: 30%;
    height: 30%;
}
.why {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#girl {
    margin-top: 12%;
    width: 50%;
    height: 50%;
}
   
.why-line {
    border-style: solid;
    border-width: 1px;
    border-color: #383768;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    width: 100%;
    height: 4px;
    background-color: #383768;
    margin-bottom: 12%;
}
.why-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.why-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.why-logo {
    width: 15%;
    height: 15%;
}
.why-line-two {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    width: 100%;
    height: 4px;
    background-color: #C4C4C4;
    margin-bottom: 12%;
    margin-top: 6%;
}
.get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    padding-bottom: 7%;
    padding-top: 4%;
}
.get-text {
    display: none;
}
.letter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.get-image {
    margin: 3%;
}
.get-buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.get-in-touch button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
#message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#mision-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
#history-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#about-img {
    width: 40%;

}
.about-h2 {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    width: 100%;
    background-color: crimson;    
    margin-top: 6%;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #C4C4C4;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-top: 10%;
}
.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    bottom: 20%;
}