header {
    position: fixed;
    background-color: #373867;
    top: 0%;
    left: 0px;
    right: 0%;
    width: 100%;
    height: 108px;
    z-index: 1;
}
#tittle-header {
    color: white;
    top: 60px;
    text-align: center;
}
#line-header {
    position: fixed;
    left: 5%;
    border-style: solid;
    border-color: white;
    width: 90%;
    border-width: 1px;
}
#social {
    position: absolute;
    right: 90px;
    top: 39px;
    z-index: 2;
}
aside {
    position: fixed;
    background-color: #373867;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 325px;
    z-index: 1;
}
main {
    position: relative;
    left: 326px;
    z-index: -1;
}
.landing {
    display: inline-block;
    margin-bottom: 60px;
}
#landing-text {
    display: inline-block;
    position: relative;
    width: 35%;
    top: -200px;
    margin-left: 50px;
    margin-right: 10px;
}
#landing-img {
    display: inline-block;
    position: relative;
    width: 40%;
    margin-top: 200px;
}
#burguer {
    color: white;
    top: 39px;
    left: 326px;
    position: fixed;
}
#searchbar-side {
    top: 44px;
    position: fixed;
    left: 45px;
    width: 230px;
}
#menu-side {
    color: white;
    top: 110px;
    left: 40px;
    position: fixed;
    display: inline-block;
    width: 250px;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-width: 1px;
    opacity: 0.5
}
#home {
    position: fixed;
    display: inline-block;
    left: 40px;
    top: 190px;
    color: white;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 250px;
    border-width: 1px;
}
#singup {
    position: fixed;
    display: inline-block;
    left: 40px;
    top: 230px;
    color: white;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 250px;
    border-width: 1px;
}
#login {
    position: fixed;
    display: inline-block;
    left: 40px;
    top: 270px;
    color: white;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 250px;
    border-width: 1px;
}
#contact {
    position: fixed;
    display: inline-block;
    left: 40px;
    top: 310px;
    color: white;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 250px;
    border-width: 1px;
}
#side-get {
    position: fixed;
    left: 50px;
    color: white;
    top: 450px;
    display: inline-block;
    width: 10%;
    border-bottom: 1px;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
#side-text {
    position: fixed;
    left: 50px;
    color: white;
    top: 500px;
    display: inline-block;
    width: 12%;
}
#side-contact {
    position: fixed;
    left: 20px;
    color: white;
    top: 710px;
    display: inline-block;
    width: 15%;
}
.functionalities {
    display: inline-block;
    width: 40%;
}
#text-func {
    display: inline-block;
    width: 65%;
}
#girl {
    display: inline-block;
    padding-left: 90px;
    margin-top: 90px;
    width: 25%;
}
.why-elements {
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 720px;
    bottom: 2000px;
    margin-left: 310px;
    border-style: solid;
    padding-left: 50px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.tittle-why {
    display: inline-block;
    position: absolute;
    bottom: 2300px;
    left: 570px;
}
.text-why {
    display: inline-block;
    width: 70%;
}
#why-units {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
}
.get-in-touch {
    display: inline-block;
    width: 80%;
    margin-top: 100px;
    margin-left: 50px;
    
}
.form {
    display: inline-block;
    width: 40%;
    height: ;
    margin-left: 100px;
    margin-top: 50;
    float: right;
    border-style: solid;
    border-width: 3px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    padding-left: 80px;
}
   
.letter {
    display: inline-block;
    width: 40%;
    margin-left: 100px;
    margin-top: 50;
    float: left;
    text-align: center;
}
#name-form {
    display: inline-block;
    width: 60%;
    margin-bottom: 20px;
    margin-right: 50px;
}
#email-form {
    display: inline-block;
    width: 60%;
    margin-bottom: 30px;
}
#message-form {
    display: inline-block;
    width: 80%;
    padding: 40px;
    margin-bottom: 10px;
}
.about-us {
    display: inline-block;
    width: 80%;
    margin-top: 100px;
    margin-left: 50px;
    
}
#mision-img {
    display: inline-block;
    width: 25%;
}
#mision-text {
    display: inline-block;
    width: 60%;
    margin-right: 100px;
    float: right;
}
#mision-img {
    display: inline-block;
    width: 25%;
}
#mision-text {
    display: inline-block;
    width: 60%;
    margin-right: 100px;
    float: right;
}
#history-img {
    display: inline-block;
    width: 25%;
    float: right;
    margin-right: 100px;
    top: 100px;
}
#hitory-text {
    display: inline-block;
    width: 60%;
    margin-top: 50px;
    float: left;  
}
#mission-tittle {
    border-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 900px;
}
#history-tittle {
    border-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 900px;
}
.footer {

    width: 80%;
    height: 800px;
    background-color: grey;
}
.ol {
    display: inline-block;
    width: 20%;
    margin: 5px;
}